#salle{
	font-weight: bold;
	font-size: 120%;
}

.table{
	border: black solid 1px;
	width: 140px;
	height: 140px;
	margin-top: 50px;
	margin-left: 20px;
	display: inline-block;
	border-radius: 20px;
}

.machineLibre{
	border: black solid 1px;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: green;
	border-radius: 100px;
	text-align: center;
	color: white;
}

#legendeMachineLibre{
	border: black solid 1px;	
	width: 20px; 
	height: 20px; 
	margin-left: 50px; 
	display: inline-block; 
	background-color: green; 
	border-radius: 100px;
}

.machineOccupee{
	border: black solid 1px;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 100px;
	text-align: center;
}

#legendeMachineOccupee{
	border: black solid 1px;	
	width: 20px; 
	height: 20px; 
	margin-left: 50px; 
	display: inline-block; 
	border-radius: 100px;
}

.machineHs{
	border: black solid 1px;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: red;
	border-radius: 100px;
	text-align: center;
	color: white;
}

#legendeMachineHs{
	border: black solid 1px; 
	width: 20px; 
	height: 20px; 
	margin-left: 50px; 
	display: inline-block; 
	background-color: red; 
	border-radius: 100px;
}

body{
	height: 608px;
}