.table{
	border: black solid 1px;
	width: 150px;
	height: 100px;
	margin-top: 50px;
}

.machineLibre{
	border: black solid 1px;
	width: 20px;
	height: 20px;
	margin-left: 50px;
	display: inline-block;
	background-color: green;
}

.machineOccupee{
	border: black solid 1px;
	width: 20px;
	height: 20px;
	margin-left: 50px;
	display: inline-block;
}
.machineHs{
	border: black solid 1px;
	width: 20px;
	height: 20px;
	margin-left: 50px;
	display: inline-block;
	background-color: red;
}